$hover-cta: #ff7a85;
$bg-footer: #25252d;

$text-menu-inactive: #1f3f5b;
$text-menu-active: #4b5862;
$text-sub-menu: #4b5862;
$bg-sub-menu: #f0f0f0;

$btn-primary-color: #ff525d;
$btn-primary-bg: #fff;
$btn-secondary-color: #fff;
$btn-tertiary-color: #1f3f5b;

$title-color: #1f3f5b;
$text-white: #ffffff;
$text-body: #4b5862;
$text-cta: #c8c8cb;
$text-footer: #c8c8cb;

$gradient-start-orange: #ff8f70;
$gradient-end-orange: #ff3d54;
$gradient-start-purple: #2c2d3f;
$gradient-end-purple: #3f4164;

$font-title: 'Overpass', sans-serif;
$font-body: 'Ubuntu', sans-serif;