.header
{
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  user-select: none;

  transition: background-color .2s linear;
  &--scroll-bg
  {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    background-color: $btn-primary-color;
  }
}

.nav-bar
{
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 100px;
  align-items: center;
  
  width: 100%;
  height: 100px;
  padding: 0 25px;
  &__toggle-icon
  {
    cursor: pointer;
  }
}

.menu,
.sub-menu
{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}
.menu
{
  position: absolute;
  top: 125px;
  right: 5%;

  width: 90%;
  height: max-content;
  max-height: calc(90vh - 100px);
  overflow-y: auto;
  padding: 20px;

  border-radius: 5px;
  background-color: $text-white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);

  transform: translate(0, -150vh);
  transition: transform linear .5s;
  
  &--on
  {
    transform: translate(0, 0);
  }
  &__display
  {
    display: inline-block;
    width: 100%;

    text-align: center;
    color: $text-menu-inactive;
    font-weight: 500;
    line-height: 50px;
    transition: color .2s ease-in;

    &--active
    {
      color: $text-menu-active;
    }

    .arrow-icon
    {
      display: inline-block;
      height: 18px;
      width: 16px;
      background-image: url(../assets/images/icon-arrow-dark.svg);
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: center;
      
      transition: transform .2s ease-in;
      &--active
      {
        transform: rotate(180deg);
      }
    }
  }
  &__buttons
  {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
}

.sub-menu
{
  background-color: $bg-sub-menu;
  height: 0;

  border-radius: 5px;

  overflow: hidden;

  &--active
  {
    height: max-content;
    color: $text-menu-active;
  }

  &__item
  {
    line-height: 50px;
    text-align: center;
    font-weight: 500;
  }
  &__link
  {
    text-decoration: none;
    color: $text-sub-menu;
  }
}

@media screen and (min-width: 860px) {
.nav-bar
{
  grid-template-columns: 200px 1fr;
  justify-items: center;
  padding: 0;
  &__toggle-icon
  {
    display: none;
  }
  &__menu
  {
    position: relative;
    top: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    transform: translate(0);
  }
}
.menu
{
  width: 100%;

  box-shadow: none;
  background-color: transparent;

  overflow: visible;

  .item-container
  {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  &__buttons
  {
    flex-direction: row;
  }
  &__display
  {
    margin-right: 25px;
    color: $text-footer;
    .arrow-icon
    {
      background-image: url(../assets/images/icon-arrow-light.svg);
    }
    &--active
    {
      color: $text-white;
      text-decoration: underline;
    }
    &:hover
    {
      color: $text-white;
    }
  }
  &__hr
  {
    display: none;
  }
  &__item
  {
    position: relative;
  }
}
.sub-menu
{
  position: absolute;
  top: 50px;

  width: 100%;

  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  &__item a:hover
  {
    color: black;
    font-weight: 700;
    transition: color .2s ease-in;
  }
}
}